/* DEVICES
@media (max-width: 575px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
*/


/* fade out on scroll down
-------------------------------------------------- */

/* adding margin-bottom to fade div */
.top {

}



.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* adding margin-bottom to fade div */
@media (max-width: 767px) {
  .gallery-image {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 768px) {
  .gallery-image {
    margin-bottom: 50px !important;
  }
}


/* gallery div
-------------------------------------------------- */

/* gallery full-width nopadding on sm down */
@media (max-width: 767px) {
  .gallery-sm  {
    padding-right: 0;
    padding-left: 0;
  }
}

/* .gallery-section .col-6,
.gallery-section .col-md-3 {
  padding-left: 0;
  padding-right: 0;
} */


@media (max-width: 767px) {
  .row .gallery-section {
      /* padding-right: -15px;
      padding-left: -15px; */
  }
}
@media (min-width: 768px) {
  .row .gallery-section {
      margin-right: -15px;
      margin-left: -15px;
  }
}
