/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /* margin-bottom: 60px; */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  padding-bottom: 100px;
  /* background-color: #f5f5f5; */
}

.footer p {
  /* color: #800300 !important; */
  font-family: "ministry","helvetica neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1em;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 991px) {
    .footer p {
      font-size: 9px;
    }
}

@media (min-width: 992px) {
  .footer p {
    font-size: 10px;
  }
}






/* logo / navbar-brand
-------------------------------------------------- */
@media screen and (max-width: 991px) {
  .navbar-brand {
    padding-left: -10px !important;
  }
  .tsb-logo {
      width: 25px;
      height: auto;
  }

}

@media (min-width: 992px) {
    .tsb-logo {
        margin-left: 30px !important;
        width: 55px;
        height: auto;
    }
}


/* navbar title:
   center with absolute positioning
-------------------------------------------------- */
.tsb-title {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 99;
}

.tsb-title {
  color: #800300 !important;
}

.tsb-title-overlay {
  position: absolute;
}

@media (max-width: 991px) {
  .tsb-title {
    top: 19px;
  }
}
@media (min-width: 992px) {
  .tsb-title {
    top: 17px;
  }
}

/* Custom navbar-toggler
-------------------------------------------------- */
.tsb-toggler-btn {
  cursor: pointer;
  border: none;
  z-index: 99;
  position: absolute;
  /* right: 50px; */
  top: 16px;
  /* padding-top: 1em ; */
  padding-right: 0;
  /* padding-bottom: 1em ; */
  padding-left: 2em;
  /* text-align: right; */
}

.tsb-toggler-btn:focus,
.tsb-toggler-btn:active {
   outline: none !important;
   box-shadow: none;
}



@media (max-width: 991px) {
    .tsb-toggler-btn {
      right: 15px;
      top: 16px;
      /* padding-top: 10px; */
  }
  .tsb-title-overlay {
    position: absolute;
    left: 25px;
    top: 19px;
    /* padding-top: 10px; */
  }
  .nav-overlay .closebtn {
    right: 25px;
    top: 28px;
    /* padding-top: 10px; */
  }

  .nav-overlay-content {
      /* top: 25%; */
      width: 100%;
      /* padding-top: 100px; */
      padding-right: 10px;
      /* padding-left: 10px; */
  }
}

@media (min-width: 992px) {
    .tsb-toggler-btn{
      right: 50px;
      top: 16px;
      /* padding-top: 10px; */
  }
  .tsb-title-overlay {
    position: absolute;
    left: 50px;
    top: 16px;
    /* padding-top: 10px; */
  }
  .nav-overlay .closebtn {
    right: 50px;
    top: 26px;
    /* padding-top: 10px; */
  }
  .nav-overlay-content {
      position: relative;
      /* top: 25%; */
      width: 100%;
      /* text-align: center; */
      padding-top: 100px;
      padding-right: 40px;
  }

}


/* navbar: title
-------------------------------------------------- */
.tsb-title,
.tsb-toggler,
.tsb-toggler,
.tsb-nav-item,
.tsb-dropdown-item,
.tsb-title-overlay,
.closebtn {
  color: #800300 !important;
  font-family: "ministry","helvetica neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .25em;
  text-transform: uppercase;
}

@media (max-width: 991px) {
    .tsb-title,
    .tsb-toggler,
    .tsb-nav-item,
    .tsb-dropdown-item,
    .tsb-title-overlay,
    .closebtn {
      font-size: 9px;
    }
}

@media (min-width: 992px) {
  .tsb-title,
  .tsb-toggler,
  .tsb-nav-item,
  .tsb-dropdown-item,
  .tsb-title-overlay,
  .closebtn {
    font-size: 10px;
  }
}

.tsb-title:hover,
.tsb-title:active {
  color: #800300 !important;
  font-family: "ministry","helvetica neue", sans-serif;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .25em;
  text-transform: uppercase;
}



/* NAV OVERLAY
-------------------------------------------------- */

.nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 9999;

}

.nav-overlay-content {
    position: relative;
    /* top: 25%; */
    width: 100%;
    padding-top: 100px;
    height: 100vh;
    /* padding-right: 40px; */
    /* text-align: center; */
}

.nav-overlay a {
    text-decoration: none;
    color: #800300;
    display: block;
    /* transition: 0.3s; */
}

.nav-overlay .closebtn {
    position: absolute;
    z-index: 99;
    /* position: absolute; */
    /* right: 50px;
    top: 16px;
    padding-top: 10px; */
}

@media (max-width: 991px) {
  .nav-overlay .closebtn {
    right: 15px;
    top: 27px;
    /* padding-top: 10px; */
    padding-right: 0px;

  }
  .nav-overlay-content {
      /* top: 25%; */
      width: 100%;
      /* padding-top: 100px; */
      padding-right: 0px;
  }
}

@media (min-width: 992px) {
  .nav-overlay .closebtn {
    right: 50px;
    top: 26px;
    /* padding-top: 10px; */
  }
  .nav-overlay-content {
      position: relative;
      /* top: 25%; */
      width: 100%;
      /* text-align: center; */
      padding-top: 100px;
      padding-right: 35px;
  }
}


/* remove caret dropdown arrow */
.dropdown-toggle::after {
    display:none;
}

.tsb-dropdown-menu {
  border: none;
}

@media (max-width: 991px) {
  /* .tsb-dropdown-toggle:active {
    margin-top: 25px;
  } */
  .tsb-dropdown-menu {
    /* width: 250px; */
    margin-bottom: 25px;
  }

}

@media (min-width: 992px) {
  /* .tsb-dropdown-toggle:active {
    margin-top: 25px;
  } */
  .tsb-dropdown-menu {
    width: 250px;
    margin-bottom: 25px;
  }
}


/* remove dropdown nav-item background on hover */

.tsb-dropdown-item a:hover,
.tsb-dropdown-item a:active,
.tsb-dropdown-item:hover,
.tsb-dropdown-item:active {
  background-color: transparent!important;
}





/* navbar: nav-item hover states
-------------------------------------------------- */

.tsb-toggler:hover,
.tsb-toggler:active  a::after,

.tsb-nav-item:hover,
.tsb-nav-item:active  a::after,

.tsb-dropdown-toggle:hover,
.tsb-dropdown-toggle:active  a::after,

.tsb-dropdown-item:hover,
.tsb-dropdown-item:active  a::after,

.closebtn:hover,
.closebtn:active  a::after {
  color: #800300 !important;
  font-family: "ministry","helvetica neue", sans-serif;
  font-style: italic;
  font-weight: 500;
  letter-spacing: .25em;
  text-transform: uppercase;
  /* border-bottom: 2px #800300 solid;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0; */

}





/* .closebtn {
  color: #800300 !important;
  font-family: "ministry","helvetica neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .25em;
  text-transform: uppercase;
} */
