/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


/* Custom navbar-toggler
-------------------------------------------------- */
.custom-toggler {
  cursor: pointer;
  border: none;
  padding-left: 2em;
  /* padding-top: 1em ; */
  padding-bottom: 1em ;

  /* padding-left: 2em;
padding-bottom: 1em;
cursor: pointer; */
z-index: 99;
}



/* Custom navbar-toggler
-------------------------------------------------- */
/* .navbar-brand {
  position: fixed;
  z-index: 9999;
  left: 12px;
  top: 11px !important;
  padding-top: 0!important;
  margin-top: 0!important;
  padding-right: 15px;
} */

@media screen and (max-width: 991px) {
  .tsb-logo {
      width: 25px;
      height: auto;
  }
}

@media (min-width: 992px) {
    .tsb-logo {
      /* margin-left: 30px !important; */
        width: 55px;
        height: auto;
    }
}

/* center w absolute positioning */
.tsb-title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 16px;
  text-align: center;
  z-index: 99;
}

.nav-text,
.nav-item,
.nav-link {
  color: #7F2F2D !important;
  font-family: "ministry","helvetica neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .25em;
  text-transform: uppercase;
}

@media (max-width: 991px) {
    .nav-text,
    .nav-item,
    .nav-link {
      font-size: .6rem;
    }
}

@media (min-width: 992px) {
  .nav-text,
  .nav-item,
  .nav-link {
    font-size: .7rem;
  }
}


