/* DEVICES
@media (max-width: 575px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 400%;
  width: 100%;
}


.gallery-image {
  height: 100vh;
  width: 100%;
  position: fixed;
}

.gallery-section-one {
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.gallery-section-two {
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
  z-index: 9;
}


/* fade out on scroll down
-------------------------------------------------- */

/* adding margin-bottom to fade div */
.top {

}

/* adding margin-bottom to fade div */
.gallery-image {
  margin-bottom: 50px;
}

/* .gallery-section {
  opacity: 0;
  transition: opacity 1s;
}

.gallery-section.visible {
  opacity: 1;
} */








/* gallery div
-------------------------------------------------- */

/* gallery full-width nopadding on sm down */
@media (max-width: 767px) {
  .gallery-sm {
    padding-right: 0;
    padding-left: 0;
  }
}
