/* DEVICES
@media (max-width: 575px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
*/

/* html body
-------------------------------------------------- */
html {
   position: relative;
   min-height: 100%;
 }
 
 body {
   position: relative;
   max-width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
 }
 
 section {
   overflow-x: hidden;
   overflow-y: hidden;
 }

.btn:active, 
.a:active {
   outline: none !important;
   box-shadow: none;
   border-color: none;
}

 
 /* @media screen and (max-width: 767px) {
 }
 
 @media screen and (max-width: 991px) {
 }
 
 @media (min-width: 992px) {
 } */
 
 header {
   min-height: 66px;  
 }
 
 footer {
   height: 200px;
   padding: 30px 0 60px 0;
   display: block;
 }
 
 /* full-width on xs */
 @media screen and (max-width: 575px) {
   .full-width {
     padding: 0;
     margin: 0;
   }
   .full-width-left {
     padding-left: 0;
     /* padding-right: 0; */
     margin-right: 0;
   }
   .full-width-right {
     /* padding-left: 0; */
     padding-right: 0;
     margin-left: 0;
   }
 }
 
 /* full-width on sm */
 @media screen and (min-width: 576px) and (max-width: 767px) {
   .full-width {
     padding: 0;
     margin: 0;
   }
 
   .full-width-left {
     padding-left: 0;
     /* padding-right: 0; */
     margin-right: 0;
   }
 
   .full-width-right {
     /* padding-left: 0; */
     padding-right: 0;
     margin-left: 0;
   }
 }
 
 .h-100 {
   height: 100vh !important;
 }
 
 
 
 /* padding above top section
    align with nav below page title */
    /* @media screen and (max-width: 575px) {
    .section-top {
       margin-top: 50px;
     }
     .section-scroll {
       padding-top: 55px;
     }
   } */
 
 @media screen and (max-width: 767px) {
 .section-top {
    margin-top: 50px;
  }
  .section-scroll {
    padding-top: 73px;
  }
 
   .section-top,
   .section-scroll  {
     margin-bottom: 75px;
   }
 
   .h-100 {
     margin-top: 0px;
   }
 
   .h-100-center {
     height: 100vh !important;
     margin-top: -73px;
   }
 
   /* so */
   .so-slogan {
     margin-top: 50px;
     padding-top: 73px;
     margin-bottom: 75px;
   }
 }
 
 @media screen and (min-width: 768px) {
  .section-top {
    margin-top: 55px;
  }
  .section-scroll {
    padding-top: 110px;
  }
 
    .section-top,
    .section-scroll {
      margin-bottom: 125px;
    }
 
    .h-100-center {
      height: 100vh !important;
      margin-top: -110px;
    }
 
      /* so */
   .so-slogan {
     margin-top: 75px;
     padding-top: 110px;
     /* margin-bottom: 125px; */
   }
 }
 
 @media screen and (min-width: 992px) {
    .h-100-center {
      min-height: 100vh !important;
      margin-top: -34px;
    }
 }
 
 
 
 .btn:focus,
 .btn:active {
    outline: none !important;
    box-shadow: none;
 }
 
 
 
 /* tsb-logo-wrapper
 -------------------------------------------------- */
 .tsb-logo-wrapper {
   cursor: pointer;
   z-index: 999;
 }
 
 @media screen and (max-width: 400px) {
   .tsb-logo-wrapper  {
     position: fixed;
     left: calc(1 * (100% / 13));
     margin-left: 0;
   }
   .tsb-logo {
       width: 25px;
       height: auto;
   }
 }
 
 @media screen and (max-width: 576px) {
   .tsb-logo-wrapper  {
     position: fixed;
     left: calc(1 * (100% / 14));
     margin-left: 0;
   }
   .tsb-logo {
       width: 25px;
       height: auto;
   }
 }
 
 @media screen and (min-width: 576px) {
   .tsb-logo-wrapper  {
     position: fixed;
     left: calc(1 * (100% / 16));
   }
   .tsb-logo {
       width: 25px;
       height: auto;
   }
 }
 
 @media screen and (min-width: 768px) {
   .tsb-logo-wrapper  {
     position: fixed;
     left: calc(1 * (100% / 18));
     padding-top: 5px;
   }
 
   .tsb-logo {
       width: 25px;
       height: auto;
   }
 }
 
 
 @media (min-width: 992px) {
   .tsb-logo-wrapper  {
     position: fixed;
     left: calc(1 * (100% / 11));
     padding-top: 8px;
     padding-left: .55%;
   }
     .tsb-logo {
         width: 55px;
         height: auto;
     }
 }
 
 @media (min-width: 1200px) {
   .tsb-logo-wrapper  {
     position: fixed;
     left: calc(1 * (100% / 12));
     padding-top: 8px;
     padding-left: 1%;
 
   }
     .tsb-logo {
         width: 55px;
         height: auto;
     }
 }
 
 @media (min-width: 1400px) {
     .tsb-logo {
         width: 60px;
         height: auto;
     }
 }
 
 
 
 
 /* tsb-title: the space between
    center with absolute positioning
    md and up
 -------------------------------------------------- */
 .tsb-title {
   position: fixed;
   width: 100%;
   left: 0;
   text-align: center;
   z-index: 99;
   color: #800300 !important;
 }
 
 @media (max-width: 991px) {
   .tsb-title {
     top: 25px;
   }
 }
 
 @media (min-width: 992px) {
   .tsb-title {
     top: 25px;
   }
 }
 
 
 
 /* header-right-wrapper:
    fixed right
 -------------------------------------------------- */
 .header-right-wrapper {
   z-index: 99;
 }
 @media screen and (max-width: 575px) {
   .header-right-wrapper  {
     position: fixed;
     right: calc(1 * (100% / 13));
   }
 }
 
 @media screen and (min-width: 576px) {
   .header-right-wrapper  {
     position: fixed;
     right: calc(1 * (100% / 16));
   }
 }
 
 @media screen and (min-width: 768px) {
   .header-right-wrapper  {
     position: fixed;
     right: calc(1 * (100% / 17));
   }
 }
 
 @media (min-width: 992px) {
   .header-right-wrapper  {
     position: fixed;
     right: calc(1 * (100% / 11));
   }
 }
 
 
 
 /* Custom navbar-toggler:
   md and down
 -------------------------------------------------- */
 .tsb-toggler-btn {
     position: fixed;
     /* top: 16px; */
     -webkit-transition: all .3s;
     transition: all .3s;
     /* margin: -15px 0 0 -15px; */
     /* right: 0; */
     padding: 15px 0 15px 15px;
     cursor: pointer;
     border: none;
     z-index: 999;
 }
 
 
 .tsb-toggler-btn:focus,
 .tsb-toggler-btn:active {
    outline: none !important;
    box-shadow: none;
 }
 
 @media screen and (max-width: 575px) {
   .tsb-toggler-btn  {
     position: fixed;
     right: calc(1 * (100% / 13));
   }
 }
 
 @media screen and (min-width: 576px) {
   .tsb-toggler-btn  {
     position: fixed;
     right: calc(1 * (100% / 16));
   }
 }
 
 @media screen and (min-width: 768px) {
   .tsb-toggler-btn  {
     position: fixed;
     right: calc(1 * (100% / 17));
   }
 }
 
 @media (min-width: 992px) {
   .tsb-toggler-btn  {
     position: fixed;
     right: calc(1 * (100% / 10));
   }
 }
 
 
 /* Custom navbar-toggler non-toggler (expand-lg):
   lg and up
 -------------------------------------------------- */
 .openbtn {
   padding-right: 2px;
   padding-left: 2em;
   border: none;
   z-index: 99;
 }
 
 @media (max-width: 991px) {
   .tsb-pagetitle {
     margin-top: 75px;
   }
 }
 
 @media (min-width: 992px) {
   .openbtn {
     position: fixed;
     top: 33px;
     right: calc(1 * (100% / 11));
     /* padding-top: 10px; */
   }
 
   .tsb-pagetitle {
     margin-top: 101px;
   }
 }
 
 @media (min-width: 1200px) {
   .tsb-pagetitle {
     position: fixed;
     top: 45px;
     right: calc(1 * (100% / 11));
     /* padding-top: 10px; */
   }
 
   .tsb-pagetitle {
     margin-top: 65px;
   }
 }
 
 
 /* navbar: title
 -------------------------------------------------- */
 .tsb-title,
 .tsb-toggler,
 .tsb-toggler,
 .tsb-nav-text,
 .tsb-nav-text a,
 .tsb-nav-item,
 .tsb-nav-item a,
 .tsb-dropdown-item,
 .tsb-title-overlay,
 .tsb-pagetitle,
 .closebtn,
 .openbtn {
   /* color: #800300 !important; */
   font-family: "ministry","helvetica neue", sans-serif;
   font-style: normal;
   font-weight: 300;
   letter-spacing: .25em;
   text-transform: uppercase;
 }
 
 /* static buttons red */
 .tsb-title,
 .tsb-toggler,
 .tsb-toggler,
 .tsb-nav-text,
 .tsb-nav-text a,
 /* .tsb-nav-item, */
 /* .tsb-nav-item a, */
 /* .tsb-dropdown-item, */
 .tsb-title-overlay,
 .tsb-pagetitle,
 /* .closebtn, */
 .openbtn {
   color: #800300 !important;
 }
 
 
 .tsb-nav-item,
 .tsb-nav-item a,
 .tsb-dropdown-item,
 .closebtn {
   color: #C8C8C8 !important;
 }
 
 
 /* font size */
 @media (max-width: 991px) {
     .tsb-title,
     .tsb-toggler,
     .tsb-nav-text,
     .tsb-nav-text a,
     .tsb-nav-item,
     .tsb-dropdown-item,
     .tsb-title-overlay,
     .tsb-pagetitle,
     .closebtn,
     .openbtn {
       font-size: .6rem;
     }
 }
 
 @media (min-width: 992px) {
   .tsb-title,
   .tsb-toggler,
   .tsb-nav-text,
   .tsb-nav-text a,
   .tsb-nav-item,
   .tsb-dropdown-item,
   .tsb-title-overlay,
   .tsb-pagetitle,
   .closebtn,
   .openbtn {
     font-size: .7rem;
   }
 }
 
 
 /* on hover and active */
 .tsb-toggler:hover,
 .tsb-toggler:active  a::after,
 
 .tsb-title:hover,
 .tsb-title:active a::after,
 .tsb-title a:hover,
 
 .tsb-nav-text:hover,
 .tsb-nav-text:active  a::after,
 
 .tsb-nav-item .active,
 .tsb-nav-item:hover,
 .tsb-nav-item:active  a::after,
 
 .tsb-nav-item a:hover,
 .tsb-nav-item a:active  a::after,
 
 .tsb-dropdown-toggle .active,
 .tsb-dropdown-toggle:hover,
 .tsb-dropdown-toggle:active  a::after,
 
 .tsb-dropdown-item .active,
 .tsb-dropdown-item:hover,
 .tsb-dropdown-item:active  a::after,
 
 .closebtn:hover,
 .closebtn:active  a::after {
   color: #800300 !important;
   /* font-family: "ministry","helvetica neue", sans-serif; */
   font-style: italic;
   font-weight: 500;
   letter-spacing: .25em;
   text-transform: uppercase;
   text-decoration: none;
   /* border-bottom: 2px #800300 solid;
   padding-bottom: 3px;
   padding-left: 0;
   padding-right: 0; */
 }

 .tsb-title-overlay .tsb-nav-item {
  color: #800300 !important;
 }

 a.nav-item.tsb-nav-item:hover, 
 a.nav-item.tsb-nav-item.active {
  color: #800300 !important;
  font-style: italic;
  font-weight: 500;
  letter-spacing: .25em;
  text-transform: uppercase;
  text-decoration: none;
 }
 
 .tsb-title:hover,
 .tsb-title:active {
   color: #800300 !important;
   font-family: "ministry","helvetica neue", sans-serif;
   font-style: italic;
   font-weight: 300;
   letter-spacing: .25em;
   text-transform: uppercase;

 }
 
 /* navbar: dropdown
 -------------------------------------------------- */
 /* remove caret dropdown arrow */
 .dropdown-toggle::after {
     display:none;
 }
 
 .tsb-dropdown-menu {
   border: none;
   background-color: transparent;
 }
 
 /* push content down when dropdown is open */
 .navbar-expand-lg .navbar-nav .dropdown-menu {
     position: relative;
 }
 
 
 @media (max-width: 991px) {
   /* .tsb-dropdown-toggle:active {
     margin-top: 25px;
   } */
   /* .tsb-dropdown-menu {
     width: 250px; 
     margin-bottom: 5px;
   } */
 
 }
 
 @media (min-width: 992px) {
   /* .tsb-dropdown-toggle:active {
     margin-top: 25px;
   } */
   .tsb-dropdown-menu {
     width: 250px;
     margin-bottom: 5px;
   }
 }
 
 
 /* remove dropdown nav-item background on hover */
 .tsb-dropdown-item.active,
 .tsb-dropdown-item .show,
 .tsb-dropdown-item a:hover,
 .tsb-dropdown-item a:active,
 .tsb-dropdown-item:hover,
 .tsb-dropdown-item:active {
   background-color: transparent!important;
 }
 
 .menu-level-1,
 .menu-level-2,
 .menu-level-3 {
   padding-top: 20px;
 }
 
 
 
 /* navbar: nav-item hover states
 -------------------------------------------------- */
 .tsb-toggler:hover,
 .tsb-toggler:active  a::after,
 
 .tsb-nav-item:hover,
 .tsb-nav-item:active  a::after,
 
 .tsb-dropdown-toggle:hover,
 .tsb-dropdown-toggle:active  a::after,
 
 .tsb-dropdown-item:hover,
 .tsb-dropdown-item:active  a::after,
 
 .closebtn:hover,
 .closebtn:active  a::after {
   color: #800300 !important;
   font-family: "ministry","helvetica neue", sans-serif;
   font-style: italic;
   font-weight: 500;
   letter-spacing: .25em;
   text-transform: uppercase;
 }
 
 
 
 
 
 /* NAV OVERLAY
   md and down
 -------------------------------------------------- */
 @media (max-width: 991px) {
   .nav-overlay {
       height: 100%;
       width: 0;
       position: fixed;
       z-index: 999999;
       top: 0;
       left: 0;
       background-color: rgb(255,255,255);
       background-color: rgba(255,255,255, 0.99);
       overflow-x: hidden;
       transition: 0.5s;
   }
 
   .nav-overlay-content {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
   }
 
   .nav-overlay a {
       /* padding: 8px; */
       text-decoration: none;
       color: #800300;
       display: block;
       transition: 0.3s;
   }

   /* .nav-overlay a:active > footer.footer {
     display: none; 
     visibility: hidden;
     height:0;
   } */


 
   /* .nav-overlay a:hover,
   .nav-overlay a:focus {
       color: #f1f1f1;
   } */
 
   .navbar-nav .dropdown-menu {
     display: none;
   }
 
   .nav-overlay .tsb-title-overlay {
     position: absolute;
     top: 16px;
     padding: 15px 15px 15px 0;
     /* margin-left: -10px; */
   }
 
   .nav-overlay .tsb-pagetitle {
     position: absolute;
     top:0;
     /* margin-bottom: 75px; */
     visibility:hidden;
   }
 
   .nav-overlay .closebtn {
       position: absolute;
       top: 16px;
   }
   .closebtn {
       /* position: absolute; */
       -webkit-transition: all .3s;
       transition: all .3s;
       /* margin: 0 0 0 -15px; */
       padding: 15px 0 15px 15px;
       cursor: pointer;
       border: none;
       z-index: 99;
   }
 
   .sidebar {
     /* margin-top: 125px; */
     margin-top: 83px;
   }
 }
 
 
 
 @media screen and (max-width: 575px) {
   .tsb-title-overlay  {
     left: calc(1 * (100% / 13));
   }
 
   .nav-overlay-content {
     padding-left: calc(1 * (100% / 13));
   }
 
   .closebtn  {
     right: calc(1 * (100% / 13));
   }
 }
 
 @media screen and (min-width: 576px) {
   .tsb-title-overlay  {
     left: calc(1 * (100% / 16));
   }
 
   .nav-overlay-content {
     padding-left: calc(1 * (100% / 16));
   }
 
   .closebtn  {
     right: calc(1 * (100% / 13));
   }
 }
 
 @media screen and (min-width: 768px) {
   .tsb-title-overlay  {
     left: calc(1 * (100% / 18));
   }
   .nav-overlay-content {
     padding-left: calc(1 * (100% / 18));
   }
   .closebtn  {
     right: calc(1 * (100% / 17));
   }
 }
 
 
 
 /* NAV OVERLAY
   lg and up
 -------------------------------------------------- */
 @media (min-width: 992px) {
   .tsb-title-overlay {
     position: absolute;
     left: 50px;
     top: 16px;
   }
 
   .nav-overlay {
     position: absolute;
     width: 100%;
     left: 0;
     z-index: 99;
     color: #800300 !important;
   }
 
   .nav-overlay-content {
       position: fixed;
       width: 250px;
       margin-top: 100px;
       padding-left: 40px;
   }
 
   .nav-overlay-content {
     margin-right: auto;
     margin-left: auto;
     max-width: 1600px; /* or 950px */
   }
 }
 
 /* sidebar nav
   lg and up
 -------------------------------------------------- */
 @media (min-width: 992px) {
   .sidebar  {
     position: fixed;
     left: calc(1 * (100% / 11));
     top: 100px;
     padding-top: 10px;
     margin-left: -.15%;
     padding-bottom: 16px;
     z-index: 40;
     opacity: 1;
     -webkit-transition: opacity .6s ease;
     transition: opacity .6s ease;
     overflow: hidden;
 
   }
 }
 
 
 /* Sticky footer
 -------------------------------------------------- */
 .footer {
   position: relative;
   bottom: 0;
   width: 100%;
   /* background-color: white; */
   z-index: 99999; 
   /* Set the fixed height of the footer here */
   /* height: 200px; */
   /* line-height: px; /* Vertically center the text there */ 
   /* background-color: #f5f5f5; */
 }
 
 
 
 @media (max-width: 991px) {
   .tsb-footer {
     margin-top: 50px;
     /* padding-left: 18px;
     padding-right: 18px; */
   }
 }
 @media (min-width: 992px) {
   .tsb-footer {
     margin-top: 100px;
     padding-top: 20px;
     background-color: #fff;
     /* padding-left: 30px;
     padding-right: 30px; */
   }
 }
 
 .footer p,
 .footer-link,
 .footer-link a {
   /* color: #800300 !important; */
   color: #C8C8C8 !important;
   font-family: "ministry","helvetica neue", sans-serif;
   font-style: normal;
   font-weight: 300;
   letter-spacing: .1em;
   line-height: 175%;
 }
 
 @media (max-width: 991px) {
     .footer p,
     .footer-link,
     .footer-link a {
       font-size: .7rem;
     }
 }
 
 @media (min-width: 992px) {
   .footer p,
   .footer-link,
   .footer-link a {
     font-size: .7rem;
   }
 }
 
 .footernav-links {
   margin-bottom: 25px;
 }
 .footernav-copyr {
   margin-top: 100px;
   margin-bottom: 50px;
 }
 
 .footer-link a,
 .footer-link a:hover {
   cursor: pointer;
 }
 
 .footer-link.active,
 .footer-link a.active,
 .footer-link:hover,
 .footer-link:active  a::after {
   color: #800300 !important;
   font-family: "ministry","helvetica neue", sans-serif;
   font-style: italic;
   font-weight: 500;
   text-decoration: none;
   /* letter-spacing: .25em; */
   /* text-transform: uppercase; */
   /* border-bottom: 2px #800300 solid;
   padding-bottom: 3px;
   padding-left: 0;
   padding-right: 0; */
 }
 
 
 
 
 
 /* Type
 -------------------------------------------------- */
 
 /* based on footer-p */
 h1, h2, h3, h4, h5, h6, p {
   font-family: "ministry", "helvetica neue", sans-serif;
   font-style: normal;
 }
 
 p,
 p .tsb-body {
   color: #000;
   font-weight: 300 !important;
   letter-spacing: .07em;
   line-height: 175%;
 }
 
 /* .tsb-h1 {
   font-weight: 700;
   letter-spacing: -.025em;
 } */
 
 .tsb-h1 {
   font-weight: 500;
   letter-spacing: .25em;
   text-transform: uppercase;
   line-height: 175%;
   margin-bottom: 0px;
 }
 
 .tsb-h2,
 .tsb-h3,
 .tsb-h4,
 .tsb-h5,
 .tsb-h6 {
   font-family: "ministry","helvetica neue", sans-serif;
   font-style: normal;
   font-weight: 300;
   letter-spacing: .25em;
   text-transform: uppercase;
   line-height: 175%;
 }
 
 
 
 @media (max-width: 991px) {
     p,
     p a,
     .tsb-h1,
     .tsb-h2,
     .tsb-h3,
     .tsb-figure-caption,
     .tsb-figure-caption a {
       font-size: .6rem;
     }
 }
 
 @media (min-width: 992px) {
     p,
     p a,
     .tsb-h1,
     .tsb-h2,
     .tsb-h3,
     .tsb-figure-caption,
     .tsb-figure-caption a {
     font-size: .7rem;
   }
 }
 
 .tsb-body a {
   color: #000;
   text-decoration: none;
   border-bottom: 1px solid;
   padding-bottom: 2px;
   padding: 0 1px 1px 1px;
 }
 
 .tsb-body a:hover,
 .tsb-body a:active {
   font-style: italic;
   color: #800300;
   border-bottom-color: #800300;
   text-decoration: none;
 }
 
 .tsb-body.city {
   font-style: italic;
   /* opacity:.7; */

   /* font-family: "ministry","helvetica neue", sans-serif;
   font-style: normal;
   font-weight: 300;
   letter-spacing: .25em;
   text-transform: uppercase;
   line-height: 175%; */
 }

 .tsb-figure {
   margin: 35px 0;
 }
 
 .tsb-figure-caption {
   margin-top: 15px;
 }
 
 
 .tsb-figure-caption,
 .tsb-figure-caption a {
   color: #000;
   font-family: "ministry","helvetica neue", sans-serif;
   font-style: normal;
   font-weight: 300;
   letter-spacing: .25em;
   text-transform: uppercase;
   line-height: 175%;
 }
 
 
 .tsb-figure:hover,
 .tsb-figure:active,
 .tsb-figure a:hover,
 .tsb-figure a:active,
 .figure:hover .figure-caption,
 .tsb-figure-caption:hover,
 .tsb-figure-caption:active,
 .tsb-figure-caption a:hover,
 .tsb-figure-caption a:active {
   color: #800300;
   font-weight: 500;
   font-style: italic !important;
   text-decoration: none;
 }
 
 
 
 /* Image
 -------------------------------------------------- */
 
 .gallery-feature {
   margin-bottom: 25px;
 }
 
 img.img-border {
   border: 1px solid #DDDEE0;
 }
 
 .gallery-image-lg {
   margin: 4% 0;
 }
 
 .image-shadow-left {
   margin-left: -5%;
 }
 
 .image-shadow-right {
   margin-right: -5%;
 }
 
 /* xs */
 @media (max-width: 499px) {
   /* so  */
   .logos-grid {
     max-width: 125%;
     margin: -2% -30% 0 -2%;
   }
 
   .logos-gif {
     padding-top: 0; 
     margin-left: -6%; 
     max-width: 125%;
   }
 
   .products-img-left {
     max-width: 130%; 
     margin: 0 0 0 -22%; 
   }
 
   .products-img-right {
     max-width: 130%; 
     margin: 0 5% 0 -10%; 
   }
 
   .notes-gif {
     max-width: 135%;
     margin-left: -17%;
     margin-top: -3%;
   }
 }
 
 /* sm  */
 @media screen and (min-width: 500px) and (max-width:767px) {
   .logos-grid {
     max-width: 120%;
     margin: -2% -2% 0 -17%;
   }
   
   .logos-gif {
     padding-top: 0; 
     margin-left: 2%; 
     max-width: 115%;
   }
 }
 
 /* xs, sm */
 @media (max-width: 767px) {
   .gallery-feature {
     margin-bottom: 20px;
   }
   .gallery-image {
     margin: 8% 0;
   }
 
   /* so  */
   img.gif, 
   picture.gif {
     max-width: 109%;
     margin: 0 -12% 0 -2%;
   }
 
   .icons-img {
     max-width: 101%; 
     margin-left: 0%;
   }
 
   .wp-print {
     margin: 0 -4%; 
     max-width: 107%;
   }
 
   .wp-gif {
     max-width: 120%; 
     margin-left: -10%; 
     margin-top: -2%; 
   }
 
   .products-img,
   .downloads-two {
     max-width: 118%;
     margin-left: -9%;
   }
 
   .notes-gif {
     max-width: 135%;
     margin-left: -17%;
     margin-top: -3%;
   }
 
   .alphabet-img {
     max-width: 105%;
     margin-left: -2%; 
   }
 
 }
 
 /* md  */
 @media screen and (min-width: 768px) and (max-width: 991px) {
   .gallery-feature {
     margin-bottom: 25px;
   }
 
   .gallery-image {
     /* margin: 15px 0; */
     margin: 8% 0;
   }
 
   /* so  */
   img.gif, 
   picture.gif {
     max-width: 100%; 
     margin: 0 -10% 0 -5%; 
   }
 
   .logos-grid {
     max-width: 110%;
     margin: -2% -5% 0 -5%;
   }
 
   .logos-gif {
     margin-left: 14%; 
     margin-bottom: 0;
   }
 
   .wp-print {
     margin: 0 -4%; 
     max-width: 107%;
   }
 
   .wp-gif {
     max-width: 112%; 
     margin-left: -5%; 
     margin-bottom: -2%; 
   }
 
   .products-img {
     max-width: 109%;
     margin-left: -5%;
   }
 
   .downloads-cover {
     max-width: 115%; 
     margin: 0 0 0 -1%;
   }
 
   .downloads-three {
     max-width: 100%; 
     margin: 0 0 0 0;
   }
 
   .notes-gif {
     max-width: 130%;
     margin-left: -15%; 
   }
 
   .alphabet-img {
     max-width: 105%;
     margin-left: -2%; 
   }
 }
 
 /* lg and up */
 @media (min-width: 992px) {
   .gallery-image {
     /* margin: 15px 0; */
     margin: 8% 0;
   }
 
   /* so */
   .logos-grid {
     max-width: 110%;
     margin: -2% -5% 0 -5%;
   }
 
   .logos-gif {
     margin-left: -7%;
     max-width: 115%;
   }
 
 
   .wp-print {
     margin: 0 -4%; 
     max-width: 108%;
   }
 
   .wp-gif {
     max-width: 113%; 
     margin-left: -5%; 
     margin-bottom: -2%; 
   }
   
   .products-img {
     max-width: 110%;
     margin-left: -6%;
   }
 
   .downloads-img {
     max-width: 100%; 
     margin: 0 -5% 0 17%;
   }
 
   .downloads-cover {
     max-width: 115%;
     margin: 0 0 0 -6%;
   }
 
   .downloads-three {
     max-width: 100%;
     margin: 0 0 0 -1.5%;
   }
 
   .notes-gif {
     max-width: 121%;
     margin-left: -3%;
     margin-top: -2%;
   }
 
   .alphabet-img {
     max-width: 105%;
     margin-left: -2%; 
   }
 
 }
 
 @media (min-width: 1200px) {
   .gallery-image {
     /* margin: 15px 0; */
     margin: 8% 0;
   }
 
   /* so */
   .logos-grid {
     max-width: 105%;
     margin: 0 0 0 -4%;
   }
 
   .logos-gif {
     margin-left: -5%;
     max-width: 115%;
   }
 
   
   .products-img {
     max-width: 100%;
     margin-left: 0%;
   }
 
   .downloads-cover {
     max-width: 110%; 
     margin: 0 0 0 -5%;
   }
 
   .notes-gif {
     max-width: 122%;
     margin-left: -4%;
     margin-top: -2%;
   }
 
 }
 
 
 
 
 
 